.units-card {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: var(--spacing-3);
}

.units-card h2 {
    font-size: 20px;
    font-weight: var(--font-weight-declarative);
    margin-bottom: var(--spacing-2);
}

.unit-section {
    margin-bottom: var(--spacing-2);
}

.unit-section h3 {
    font-size: var(--font-size-large);
    font-weight: var(--font-weight-declarative);
    color: var(--text-color-primary);
    letter-spacing: 1px;
    margin-bottom:  var(--spacing-1);
}

.unit-options {
    display: flex;
    background-color: var(--bg-color-secondary);
    overflow: hidden;
    padding: var(--spacing-1);
}

.unit-options input[type="radio"] {
    display: none;
}

.unit-options label {
    flex: 1;
    padding: var(--spacing-1) 0;
    text-align: center;
    color: var(--text-color-primary);
    cursor: pointer;
    font-size: 14px;
    transition: all 0.2s ease;
}

.unit-options input[type="radio"]:checked + label {
    background-color: var(--bg-color-primary);
    color: var(--text-color-secondary);
}


