.hourly-forecast-container {
    display: flex;
    flex-direction: column;

    .hourly-forecast {
        display: flex;
        height: 100%;
        justify-content: space-between;
        align-items: center;
        gap: 0.5rem;
        overflow-y: hidden;

        hr {
            height: 50%;
            border: none;
            border-left: 1px solid rgba(255, 255, 255, 0.1);
            margin: 0 10px;
        }

        .hourly-forecast-item {
            text-align: center;
            flex: 1;
            position: relative;

            :last-child {
                border-right: none;
            }

            .time {
                display: block;
                font-weight: var(--font-weight-declarative);
                color: var(--text-color-primary);
            }

            img {
                width: 50px;
                height: 50px;
                margin: 8px 0;
            }

            .temperature {
                display: block;
                font-weight: var(--font-weight-declarative);
                color: var(--text-color-secondary);
            }
        }
    }
}