.section-content {
    display: flex;
    flex-grow: 1;
    overflow: hidden;
    min-height: auto;
    border: 1px solid blue;

    > div {
        width: 50%;
        gap: var(--spacing-3);

        &:nth-child(2) {
            padding: var(--spacing-3);

        }
    }

    .city-list {
        display: flex;
        flex-direction: column;
        overflow-y: auto;
        gap: var(--spacing-3);
        width: 50%;
        min-height: 100%;


        .city-item {
            display: flex;
            padding: var(--spacing-3);
            gap: var(--spacing-3);
            min-height: 150px;
            height: 150px;
            max-height: 150px;
            background-color: var(--bg-color-primary);
            cursor: pointer;

             div {
                 .city-name {
                     font-size: 2rem;
                     color: var(--text-color-secondary);
                     font-weight: var(--font-weight-declarative);
                 }
            }

            span.city-temperature {
                font-size: 2rem;
                font-weight: var(--font-weight-declarative);
                color: var(--text-color-secondary)
            }

            &:hover {
                background-color: var(--bg-color-secondary);
                transition: background-color 0.3s ease;
            }
        }
    }

    .city-item-active {
        background-color: var(--bg-color-secondary) !important;
    }
}