html, body {
    font-family: Gelion, Helvetica, "Helvetica Neue", Arial, serif;

    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    color: var(--text-color-primary) !important;
    background-color: #0b121e;
}

*, *::before, *::after {
    box-sizing: border-box;
}

#app {
    display: flex;
    flex-direction: row;
    gap: var(--spacing-3);
    height: 100%;
    padding: var(--spacing-3);
    box-sizing: border-box;
}

.app * {
    box-sizing: border-box;
}

.bg-color {
    background-color: var(--bg-color-primary);
}

.bg-color-secondary {
    background-color: var(--bg-color-secondary);
}

.border-color {
    border: thin solid var(--border-color);
}

.border-round {
    border-radius: 1rem;
}

.border-full-round {
    border-radius: 100%;
}

.icon {
    width: 20px;
    height: 20px;
    fill: var(--text-color-primary);
}

.icon-big {
    width: 60px;
    height: 60px;
    fill: var(--text-color-primary);
}

@media (max-width: 1280px) {
    #page-main-content {
        flex-direction: column;
    }
}

@media (max-width: 900px) {
    #app {
        flex-direction: column;
        height: unset !important;
    }

    #page-main-content {
        section {
            min-width: unset !important;
            width: 100% !important;
        }
    }

    #conteudo-principal {
        height: 100% !important;
        flex-basis: unset !important;
        overflow: hidden !important;

        #conteudo-principal-content {

        }

        #conteudo-principal-imagem {
            height: 300px !important;
        }
    }
}

@media (max-width: 700px) {
    #conteudo-principal {
        flex-direction: column;
        gap: var(--spacing-1);
        padding: 0;

        #conteudo-principal-content {
            flex-direction: row;

            #conteudo-principal-name {
                text-align: start;

                #city-chance-of-rain {
                    white-space: nowrap;
                }
            }

            #conteudo-principal-temperature {
                margin-bottom: auto !important;
                margin-top: unset !important;
                margin-left: auto;
                text-align: end;

                h1 {
                    font-size: 4rem !important;
                }
            }
        }

        #conteudo-principal-imagem {
            display: flex;
            margin-right: auto !important;

            img {
                width: unset !important;
                height: unset !important;
            }
        }
    }
}