.daily-forecast-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow: hidden;

    min-width: 350px;
    width: 350px;
    max-width: 350px;

    .daily-forecast {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        overflow: auto;

        hr {
            display: flex;
            align-self: center;
            width: 75%;
            border: none;
            border-bottom: thin solid rgba(255, 255, 255, 0.1);
        }

        .hourly-forecast-item {
            display: flex;
            flex-direction: row;
            flex-grow: 1;
            align-items: center;
            justify-content: space-between;

            .hourly-forecast-item-day,
            .hourly-forecast-item-temperature {
                flex: 1;
            }

            .hourly-forecast-item-day {
                text-align: start;
            }

            .hourly-forecast-item-image {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-content: center;

                span {
                    text-align: center;
                }
            }

            .hourly-forecast-item-temperature {
                text-align: end;
            }
        }
    }
}

@media (max-width: 1280px) {
    .daily-forecast-container {
        width: 100%;
        max-width: unset;
        height: auto;

        .daily-forecast {
            gap: 0.5rem;
            flex-direction: row;
            overflow: unset;
            height: 100%;

            hr {
                display: flex;
                align-self: center;
                width: unset;
                height: 50%;
                border: none;
                border-right: thin solid rgba(255, 255, 255, 0.1);
            }

            .hourly-forecast-item {
                flex-grow: 1;
                justify-content: unset;
                flex-direction: column;

                .hourly-forecast-item-day, .hourly-forecast-item-temperature {
                    flex: unset;
                }

                .hourly-forecast-item-image {
                    img {
                        height: 50px;
                        aspect-ratio: 1/1;
                    }

                    span {
                        display: none;
                    }
                }
            }
        }
    }
}

/*
.daily-forecast-temperature {
    margin-top: auto;
    margin-bottom: auto;
    width: 60px;
    text-align: right;
}

@media (max-width: 900px) {

    section {
        #conteudo-principal {
            h1 {
                font-size: 3rem !important;
            }

            h2 {
                font-size: 1.5rem !important;
            }

            #conteudo-principal-imagem {
                width: 50% !important;
                height: unset !important;
                align-content: end;

                img {
                    width: 100% !important;
                    height: unset !important;
                }
            }
        }
    }

    #page-main-content {
        aside {
            min-width: unset !important;
            width: 100% !important;
        }
    }
}

@media (max-width: 1280px) {

    aside {
        width: 100% !important;

        .daily-forecast {
            flex-direction: row !important;
            height: 100px !important;
            gap: 1rem !important;

            hr {
                width: unset !important;
            }

            div {
                height: unset !important;
                flex-direction: column !important;
                justify-content: center;
                align-items: center;

                h2 {
                    display: block;
                    font-size: 13px;
                    color: #cbd5e1;
                    text-align: center;
                }

                div {
                    img {
                        min-width: 50px !important;
                        width: 50px !important;
                        min-height: 50px !important;
                        height: 50px !important;
                    }

                    h4 {
                        display: none;
                    }
                }

                .daily-forecast-temperature {
                    text-align: center;
                }
            }
        }
    }
} */