.nav {
    display: flex;
    flex-direction: column;
    min-width: 100px;
    width: 100px;
    max-width: 100px;
    padding: 1.5rem;
    gap: 3rem;

    justify-content: start;
    align-items: center;

    .logo {
        width: 25px;
        height: 25px;
        fill: var(--text-color-primary);
    }

    .links-container {
        display: flex;
        flex-direction: column;
        justify-content: end;
        flex-grow: 1;
        gap: 2rem;

        .link {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 0.5rem;

            svg {
                width: 25px;
                height: 25px;
                fill: var(--text-color-primary);
            }

            span {
                text-align: center;
            }
        }

        .link-active {
            color: var(--text-color-secondary);

            svg {
                fill: var(--text-color-secondary);
            }
        }
    }
}

@media (max-width: 900px) {
    .nav {
        width: 100% !important;
        max-width: unset !important;
        flex-direction: row;

        .links-container {
            flex-direction: row;
        }
    }
}