@keyframes expandShake {
    0% {
        transform: scale(1) rotate(0deg);
    }
    10% {
        transform: scale(1.2) rotate(0deg);
    }
    20% {
        transform: scale(1.3) rotate(-5deg);
    }
    30% {
        transform: scale(1.4) rotate(5deg);
    }
    40% {
        transform: scale(1.5) rotate(-3deg);
    }
    50% {
        transform: scale(1.4) rotate(3deg);
    }
    60% {
        transform: scale(1.3) rotate(0deg);
    }
    70% {
        transform: scale(1.2) rotate(0deg);
    }
    80% {
        transform: scale(1.1) rotate(0deg);
    }
    90% {
        transform: scale(1) rotate(0deg);
    }
}

.nav {
    display: flex;
    flex-direction: column;
    min-width: 100px;
    width: 100px;
    max-width: 100px;
    padding: 1.5rem;
    gap: 3rem;

    justify-content: start;
    align-items: center;

    .logo {
        width: 50px;
        height: 50px;
        transform-origin: center;

        &:hover {
            animation: expandShake 0.8s ease-in-out;
        }
    }

    .links-container {
        display: flex;
        flex-direction: column;
        justify-content: end;
        flex-grow: 1;
        gap: 2rem;

        .link {

            a {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 0.5rem;
                cursor: pointer;
                text-decoration: none;
                color: var(--text-color-primary);

                &:hover:not(.link-active) {
                    color: var(--text-color-secondary);

                    svg {
                        fill: var(--text-color-secondary);
                        transition: fill 0.3s ease;
                    }

                    &:hover {
                        transition: color 0.3s ease, opacity 0.3s ease;
                    }
                }

                svg {
                    width: 25px;
                    height: 25px;
                    fill: var(--text-color-primary);
                }

                span {
                    text-align: center;
                }
            }
        }

        .link-active {
            a {
                color: var(--text-color-secondary);
                cursor: default;
                text-decoration: none;

                svg {
                    fill: var(--text-color-secondary);
                }
            }
        }
    }
}

@media (max-width: 900px) {
    .nav {
        width: 100% !important;
        max-width: unset !important;
        flex-direction: row;

        .links-container {
            flex-direction: row;

            .link {
                a {
                    span {
                        display: none;
                    }
                }
            }
        }
    }
}