@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.search-wrapper {
    position: relative;
    width: 50%;

    label {
        display: flex;
        gap: var(--spacing-2);
        padding: 0 var(--spacing-2);
        align-items: center;

    }

    .search-input {
        background-color: transparent;
        border: none;
        color: var(--text-color-primary);
        font-size: 1.25rem;
        outline: none;
        width: 100%;
        flex-grow: 1;
        padding: var(--spacing-2) 0;
    }

    .search-dropdown {
        margin-bottom: auto;
        padding: 0;
        list-style-type: none;
        display: none;
        margin-top: 4px;
        position: absolute;
        z-index: 100;
        width: 100%;
        max-height: 200px;
        overflow-y: auto;

        li:hover:not(.spinner):not(.not-found) {
            background-color: var(--bg-color-secondary) !important;
        }


        .spinner {
            margin: var(--spacing-1) auto;

            display: block;
            border: 8px solid var(--text-color-secondary);
            border-top: 8px solid var(--text-color-primary);
            border-radius: 50%;
            width: 50px;
            height: 50px;
            animation: spin 0.5s linear infinite; /* Animation properties */
        }
    }
}


@media (max-width: 900px) {
    .search-wrapper {
        width: 100% !important;
    }
}