html, body {
    font-family: Gelion, Helvetica, "Helvetica Neue", Arial, serif;

    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    color: var(--text-color-primary) !important;
    background-color: #0b121e;
}

*, *::before, *::after {
    box-sizing: border-box;
}

#app {
    height: 100%;
    padding: 1.5rem;
    box-sizing: border-box;
}

.app * {
    box-sizing: border-box;
}

.bg-color {
    background-color: var(--bg-color-primary);
}

.bg-color-secondary {
    background-color: var(--bg-color-secondary);
}

.border-color {
    border: thin solid var(--border-color);
}

.border-round {
    border-radius: 1rem;
}

.border-full-round {
    border-radius: 100%;
}

.icon {
    width: 20px;
    height: 20px;
    fill: var(--text-color-primary);
}

.icon-big {
    width: 60px;
    height: 60px;
    fill: var(--text-color-primary);
}

@media (max-width: 1280px) {
    #page-main-content {
        flex-direction: column;
    }
}

@media (max-width: 900px) {
    #app {
        flex-direction: column;
        height: unset !important;

        nav {
            width: 100% !important;
            max-width: unset !important;
            flex-direction: row;
        }
    }

    #page-main-content {
        section {
            min-width: unset !important;
            width: 100% !important;
        }
    }

    .search-wrapper {
        width: 100% !important;
    }
}

.search-wrapper {
    position: relative;
}

.search-input {
    background-color: transparent;
    border: none;
    color: var(--text-color-primary);
    font-size: 1.25rem;
    outline: none;
    width: 100%;
}

.search-input::placeholder {
    color: var(--text-color-primary);
    opacity: 0.75;
}

/*
.search-bar-container:focus-within {
    border-color: var(--border-color);
    background-color: var(--bg-color-primary);
}

#search-dropdown {
    li:hover {
        background-color: var(--bg-color-primary);
    }
}
*/