html, body {
    /* background: linear-gradient(180deg, #1a1a1a, #2b2b2b);*/
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    color: #8e9aa3 !important;
    background-color: #0b121e;
}

#app {
    height: 100%;
    padding: 1.5rem;
    box-sizing: border-box;
}

.app * {
    box-sizing: border-box;
}

/*.border-with-color {
    border: thin solid #2b2b2b;
}*/

.bg-color {
    background-color: #202b3c;
}

.bg-color-secondary {
    background-color: #31435f;
}

.border-round {
    border-radius: 1rem;
}

.border-full-round {
    border-radius: 100%;
}

.icon {
    width: 20px;
    height: 20px;
    fill: #8e9aa3;
}

/*.sidebar {
    background: #1e1e1e;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
}

.sidebar nav {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.sidebar a {
    color: #aaa;
    text-decoration: none;
    font-size: 14px;
    transition: 0.3s;
}

.sidebar a.active,
.sidebar a:hover {
    color: #fff;
}*/
