html, body {
    /* background: linear-gradient(180deg, #1a1a1a, #2b2b2b);*/
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    color: #8e9aa3 !important;
    background-color: #0b121e;
}

*, *::before, *::after {
    box-sizing: border-box;
}

#app {
    height: 100%;
    padding: 1.5rem;
    box-sizing: border-box;
}

.app * {
    box-sizing: border-box;
}

.bg-color {
    background-color: #202b3c;
}

.bg-color-secondary {
    background-color: #31435f;
}

.border-color {
    border: thin solid #8e9aa3;
}

.border-round {
    border-radius: 1rem;
}

.border-full-round {
    border-radius: 100%;
}

.icon {
    width: 20px;
    height: 20px;
    fill: #8e9aa3;
}

.icon-big {
    width: 60px;
    height: 60px;
    fill: #8e9aa3;
}

@media (max-width: 1280px) {
    #page-main-content {
        flex-direction: column;

        aside {
            width: 100% !important;

            #aside-content {
                flex-direction: row;
            }
        }
    }
}

@media (max-width: 900px) {
    #app {
        flex-direction: column;

        nav {
            width: 100% !important;
            max-width: unset !important;
            flex-direction: row;
        }
    }

    #page-main-content {
        section {
            min-width: unset !important;
            width: 100% !important;
        }

        aside {
            min-width: unset !important;
            width: 100% !important;
        }
    }
}

.search-wrapper {
    position: relative;
}

.search-input {
    background-color: transparent;
    border: none;
    color: #8e9aa3;
    font-size: 1.25rem;
    outline: none;
    width: 100%;
}

.search-input::placeholder {
    color: #8e9aa3;
    opacity: 0.75;
}

.search-bar-container:focus-within {
    border-color: #a6b3c2;
    background-color: #31435f;
}

#search-dropdown {
    li:hover {
        background-color: #31435f;
    }
}

/*
.search-dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    max-height: 200px;
    overflow-y: auto;
    list-style: none;
    margin: 0;
    padding: 0;
    display: none;
    z-index: 100;
    background-color: #202b3c;
    border: thin solid #8e9aa3;
    border-radius: 0.75rem;
}
*/

/*
.search-dropdown li {
    padding: 0.75rem 1rem;
    cursor: pointer;
    color: #8e9aa3;
    transition: background-color 0.2s ease, color 0.2s ease;
}
*/

/*
.search-dropdown li:hover,
.search-dropdown li.active {
    background-color: #31435f;
    color: #ffffff;
}
*/